@{
	ViewData["Title"] = "All About Us.";
}

@*<h2>@ViewData["Title"]</h2>
	<h3>@ViewData["Message"]</h3>*@

<br />
<h3><b>About Us.</b></h3>

<img src="https://cdn.shopify.com/s/files/1/0080/3766/2777/files/Screen_Shot_2018-06-21_at_4.35.52_pm_large.png?v=1529562967" alt="About" />
<br />
<br />

<p><b>Founded in 2017.</b><br />With a passion for candles and soy wax, our company was born.</p>


