@{
    ViewData["Title"] = "Contact Us.";
}

@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@
<br />
<h3><b>Contact Us.</b></h3>

<img src="https://reactjsexample.com/content/images/2017/08/react-google-map-exemple.png" alt="Map"/>
<br />
<br />

<address>
    Unit 576 Floor 3A<br />
    Crestmount Drive<br />
    <abbr title="Phone">P:</abbr>
    0172436907
</address>
<br />

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@SoyJoyCandles.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@SoyJoyCandles.com</a>
</address>
