

@{
	ViewData["Title"] = "Buy";
}

<br />
<h3><b>Thank you for choosing us!</b></h3>

<center>
	<img src="https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-06-512.png" alt="Cart" />
	<br />
	<h5>Your purchase has been made successfully and you shall receive your order in two business days.</h5>
	<br />
	<a asp-action="GetPartition">Back to Shopping</a>
</center>
